

<style>

    #bEmbedButton {
        background-position: 3px 0px;
    }

</style>

<!--///////////////////////////////////////////////////////////////////////
// Layout
//
////////////////////////////////////////////////////////////////////////-->

<div class="ui-layout-center" id="mainLayoutId" style="height:600px; width:100%;">

    <div class="ui-layout-center">
        <div id="ViewerDiv" class="ui-layout-element">
        </div>
    </div>

    <div id="westLayoutId" class="ui-layout-west">

        <div class="ui-layout-center">
            <div id="jstree" class="ui-layout-element" style="height:100%; width:100%;">
            </div>
        </div>

        <div id="gridLayoutDiv" class="ui-layout-south">
            <div id="GridDiv" style="width:100%;height:100%;">
            </div>
        </div>

    </div>

    <div id="eastLayoutId" class="ui-layout-east">


    </div>

</div>

