
<style>

    #row1{
        display:flex;
        flex-direction:row;
        height: 100%;
    }

    #column1{
        display:flex;
        flex-direction:column;
        width:20%;
        overflow: hidden;
        background-color: #0B487A;

    }

    #column2{
        display:flex;
        flex-direction:column;
        width:80%;
    }

    .list-group-item{
        background-color: #0B487A;
        color:#C3DBFA;
        padding:25px;
    }

    #navbarMenuId{
        position:fixed;
        width:20%
    }

    #navbarGalleryId{
        position:fixed;
        width:100%
    }

</style>

<div style="padding-top: 100px; height:100%">

    <div id="row1">

        <div id="column1">

            <nav id="navbarMenuId" class="navbar navbar-default" role="navigation" style="z-index:999; top:50px">

                <a class="list-group-item" href="#/showcase" style="color:#C3DBFA">
                    <span class="glyphicon glyphicon-eye-open"></span>
                    &nbsp; Showcase
                </a>

                <a id="btnGalleryQuickLoadId" class="list-group-item" href="" style="color:#C3DBFA">
                    <span class="glyphicon glyphicon-flash"></span>
                    &nbsp; Quick load
                </a>

                <a id="btnGalleryLoadUrnId" class="list-group-item" href="" style="color:#C3DBFA">
                    <span class="glyphicon glyphicon-barcode"></span>
                    &nbsp; Load from urn
                </a>

                <a id="btnGalleryUploadDocId" class="list-group-item" href="" style="color:#C3DBFA">
                    <span class="glyphicon glyphicon-upload"></span>
                    &nbsp; Upload
                </a>

            </nav>
        </div>


        <div id="column2">

            <nav id="navbarGalleryId" class="navbar navbar-default" role="navigation" style="z-index:999; top:50px">
                <div class="container-fluid">

                    <div class="collapse navbar-collapse collapse" style="float:left;">

                        <ul class="nav navbar-nav">

                            <div id="menuSearchGalleryId" class="navbar-form navbar-right" role="search">
                                <div class="input-group">

                                    <input type="text"
                                           id="searchInput"
                                           ng-model="galleryFilterValue"
                                           class="form-control"
                                           placeholder="Search Gallery ..."/>

                                    <div class="input-group-btn">

                                        <button
                                                id="btnFilterId"
                                                type="button"
                                                class="btn btn-default dropdown-toggle"
                                                data-toggle="dropdown">
                                            Filter by
                                            &nbsp; <span class="caret"></span>
                                        </button>

                                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                            <li><a id="filterAuthorId">Author</a></li>
                                            <li><a id="filterModelId">Model name</a></li>
                                            <li><a id="filterUrnId">Model urn</a></li>
                                            <li class="divider"></li>
                                            <li><a id="filterDisableId">Disable filter</a></li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
            </nav>


            <div ng-repeat="model in models | filter: searchFilter | orderBy:'name'" style="overflow-y: auto;">
                <a class="list-group-item"
                   href="#/viewer?id={{model._id}}"
                   style="{{['background-color:#C3DBFA', 'background-color:#E7FCFC'][$index %2]}}">
                    <div >
                        <img ng-src={{model.src}} style="float:left; margin-right: 20px">
                        <div style="float:left;">
                            <b>{{model.name}}</b>
                            <br> <br>
                            <b>Author:</b> {{model.author.name}}
                            <br>
                            <b>Type:</b> {{model.type}}
                            <br>
                            <b>Progress:</b> {{model.progress}}
                        </div>
                        <div style="clear:both;"> </div>
                    </div>
                </a>
            </div>
        </div>

    </div>

</div>
