

<style>

    body {
        padding:0;
        margin: 0;
    }

    #webGLDiv {
        width:100%;
        height:500px;
    }

</style>

<div id="webGLDiv">
    <canvas id="renderer">

    </canvas>
</div>



<script>

    var Autodesk = {} || Autodesk;
    Autodesk.ADN = {} ||  Autodesk.ADN;

    /////////////////////////////////////////////////////////////////////////
    //
    //
    /////////////////////////////////////////////////////////////////////////
    Autodesk.ADN.EffectsDemo = function (canvasId) {

        var _canvasId = canvasId;

        var _camera, _scene, _controls, _mesh, _renderer, _glRenderer;

        /////////////////////////////////////////////////////////////////////
        //
        //
        /////////////////////////////////////////////////////////////////////
        function initializeScene() {

            var canvas = document.getElementById(_canvasId);

            _camera = new THREE.PerspectiveCamera(70,
                    canvas.clientWidth / canvas.clientHeight, 1, 10000);

            _camera.position.z = 400;

            _scene = new THREE.Scene();

            var geometry = new THREE.BoxGeometry(150, 150, 150);

            var texture = THREE.ImageUtils.loadTexture('public/images/adsk.1500x1500.jpg');

            var material = new THREE.MeshPhongMaterial( {
                ambient: 0x030303,
                color: 0xdddddd,
                specular: 0x009900,
                shininess: 30,
                shading: THREE.FlatShading,
                map: texture
            });

            var l1 = new THREE.DirectionalLight(0xffffff);
            var l2 = new THREE.DirectionalLight(0xffffff);
            var l3 = new THREE.DirectionalLight(0xffffff);
            var l4 = new THREE.DirectionalLight(0xffffff);

            l1.position.set(5, 0, 0).normalize();
            l2.position.set(-5, 0, 0).normalize();
            l3.position.set(0, 10, 0).normalize();
            l4.position.set(10, 0, 10).normalize();

            _scene.add(l1);
            _scene.add(l2);
            _scene.add(l3);
            _scene.add(l4);

            _mesh = new THREE.Mesh(geometry, material);

            _scene.add(_mesh);

            window.addEventListener('resize', resizeCanvas, false);

            _renderer = _glRenderer = new THREE.WebGLRenderer({canvas: canvas});

            _renderer.setPixelRatio(window.devicePixelRatio);

            _renderer.setClearColor(0x1771C0, 1);

            resizeCanvas();
        }

        /////////////////////////////////////////////////////////////////////
        //
        //
        /////////////////////////////////////////////////////////////////////
        function resizeCanvas() {

            function getClientSize() {

                var w = window,
                        d = document,
                        e = d.documentElement,
                        g = d.getElementsByTagName('body')[0],
                        sx = w.innerWidth || e.clientWidth || g.clientWidth,
                        sy = w.innerHeight || e.clientHeight || g.clientHeight;

                return {x: sx, y: sy};
            }

            var size = getClientSize();

            /*var size = {

             x:$('#webGLDiv').width(),
             y:$('#webGLDiv').height()
             }*/

            _camera.aspect = size.x / size.y;
            _camera.updateProjectionMatrix();

            _renderer.setSize(size.x, size.y);

            var canvas = document.getElementById(_canvasId);

            _controls = new THREE.TrackballControls(_camera, canvas);
            _controls.rotateSpeed = 1.0;
            _controls.minDistance = 200;
            _controls.maxDistance = 6000;
            _controls.addEventListener('change', render);
        }

        /////////////////////////////////////////////////////////////////////
        //
        //
        /////////////////////////////////////////////////////////////////////
        function update() {

            requestAnimationFrame(update);

            _mesh.rotation.x += 0.01;
            _mesh.rotation.y += 0.01;

            _controls.update();

            render();
        }

        /////////////////////////////////////////////////////////////////////
        //
        //
        /////////////////////////////////////////////////////////////////////
        function render() {

            _renderer.render(_scene, _camera);
        }

        /////////////////////////////////////////////////////////////////////
        //
        //
        /////////////////////////////////////////////////////////////////////
        this.setGlRenderer = function () {

            initializeScene();

            resizeCanvas();
        }

        /////////////////////////////////////////////////////////////////////
        //
        //
        /////////////////////////////////////////////////////////////////////
        this.setOcculusRenderer = function () {

            _renderer = new THREE.OculusRiftEffect(
                    _glRenderer,
                    {worldScale: 100});

            resizeCanvas();
        }

        /////////////////////////////////////////////////////////////////////
        //
        //
        /////////////////////////////////////////////////////////////////////
        this.setStereoRenderer = function () {

            _renderer = new THREE.StereoEffect(_glRenderer);

            _renderer.eyeSeparation = 5;

            resizeCanvas();
        }

        /////////////////////////////////////////////////////////////////////
        //
        //
        /////////////////////////////////////////////////////////////////////

        initializeScene();
        update();
    }

    require([
        "http://threejs.org/build/three.min.js",
        "http://learningthreejs.com/data/THREEx/THREEx.FullScreen.js",
        "https://rawgit.com/mrdoob/three.js/master/examples/js/controls/TrackballControls.js",
        "https://rawgit.com/mrdoob/three.js/master/examples/js/effects/OculusRiftEffect.js",
        "https://rawgit.com/mrdoob/three.js/master/examples/js/effects/StereoEffect.js"
    ], function() {

        var demo = new Autodesk.ADN.EffectsDemo('renderer');

        $("body").keypress(function (event) {

            switch (event.which) {

                case 102: //f key

                    if (THREEx.FullScreen.activated()) {
                        THREEx.FullScreen.cancel();

                    } else {
                        THREEx.FullScreen.request();
                    }

                    break;

                case 110: //n key
                    demo.setGlRenderer();
                    break;

                case 114: //r key
                    demo.setOcculusRenderer();
                    break;

                case 115: //s key
                    demo.setStereoRenderer();
                    break;
            }
        });
    });


</script>

