<!DOCTYPE html>
<html>
<head>

    <title>ADN Gallery Embedded</title>

    <link rel="shortcut icon" href="public/images/favicon.png" type="image/x-icon" />

    <!--///////////////////////////////////////////////////////////////////////
    // JQuery
    //
    ////////////////////////////////////////////////////////////////////////-->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <!--///////////////////////////////////////////////////////////////////////
    // Viewer
    //
    ////////////////////////////////////////////////////////////////////////-->
    <link type="text/css" rel="stylesheet" href="https://viewing.api.autodesk.com/viewingservice/v1/viewers/style.css"/>
    <script  type="text/javascript" src="https://developer.api.autodesk.com/viewingservice/v1/viewers/viewer3D.js"></script>
    <script type="text/javascript" src="https://rawgit.com/Developer-Autodesk/library-javascript-view.and.data.api/master/js/Autodesk.ADN.Toolkit.ViewData.js"></script>
    <script type="text/javascript" src="https://rawgit.com/Developer-Autodesk/library-javascript-view.and.data.api/master/js/Autodesk.ADN.Toolkit.Viewer.js"></script>


    <style>

        #bGalleryButton {
            background-image: url('public/images/adsk.24x24.png');
        }

    </style>

    <script>

        function addToolbar(parent, urn) {

            var div = document.createElement("div");

            parent.appendChild(div);

            div.style.top = '11%';
            div.style.left = "1%";
            div.style.zIndex = "2";
            div.style.position = "absolute";

            var toolbar = new Autodesk.Viewing.UI.ToolBar(div);

            var subToolbar = toolbar.addSubToolbar('sub1', false);

            var bEmbed = Autodesk.Viewing.UI.ToolBar.createMenuButton(
                    "bGallery",
                    "ADN Gallery",
                    function (e) {
                        window.open('http://' +
                            window.location.host +
                            '/#/viewer?urn=' + encodeURIComponent(urn),
                            '_blank');
                    });

            toolbar.addToSubToolbar("sub1", bEmbed);
        }

        $(document).ready(function () {

            var adnViewerMng = new Autodesk.ADN.Toolkit.Viewer.AdnViewerManager(
                    'http://54.68.140.45:3000/api/token',
                    document.getElementById('ViewerDiv'));

            var urn = Autodesk.Viewing.Private.getParameterByName("urn");

            if (urn !== '') {
                adnViewerMng.loadDocument(
                        urn,
                        function (viewer) {

                            viewer.impl.setLightPreset(8);

                            var parent = document.getElementById(
                                adnViewerMng.getViewerDivId());

                            addToolbar(parent, urn);
                        });
            };
        });

    </script>

</head>

<body style="margin:0">
    <div id="ViewerDiv" class="viewer"></div>
</body>

</html>