<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Server" type="NodeJSConfigurationType" factoryName="Node.js" path-to-node="/usr/local/bin/node" path-to-js-file="server.js" working-dir="$PROJECT_DIR$">
    <envs>
      <env name="DEBUG" value="AdnGallery" />
    </envs>
    <browser url="http://localhost:3000/" />
    <RunnerSettings RunnerId="Basic" />
    <RunnerSettings RunnerId="NodeJS.debug" />
    <RunnerSettings RunnerId="NodeJS.run" />
    <RunnerSettings RunnerId="debuggableProgram" />
    <ConfigurationWrapper RunnerId="Basic" />
    <ConfigurationWrapper RunnerId="NodeJS.debug" />
    <ConfigurationWrapper RunnerId="NodeJS.run" />
    <ConfigurationWrapper RunnerId="debuggableProgram" />
    <method />
  </configuration>
</component>