<!--///////////////////////////////////////////////////////////////////////
// Layout
//
////////////////////////////////////////////////////////////////////////-->

<div class="ui-layout-center" id="mainLayoutId" style="height:600px; width:100%;">

    <div class="ui-layout-center">
        <div id="ViewerDiv" class="ui-layout-element">
        </div>
    </div>

    <div id="layoutWestId" class="ui-layout-west">

        <div class="ui-layout-center">
            <div id="usersDivId" class="ui-layout-element" style="height:100%; width:100%;">
                <button id="btnControlId" type="button" style="width:100%;">Request control</button>
            </div>
        </div>

        <div id="gridLayoutDiv" class="ui-layout-south">
            <div id="chatDivId" style="width:100%;height:100%;">
            </div>
        </div>

    </div>

</div>